{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/products.css') }}">
{% endblock %}

{% block body %}

    <h1>Products</h1>

    {% for product in products %}
        <twig:Product:Item product="{{ product }}" />
    {% endfor %}
{% endblock %}
