{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <header>

    </header>

    <main>
        <h1>Hello</h1>

        <twig:Button label="Button 1" style="background: red;" />
        <twig:Button/>
{#        <twig:Admin:Button />#}
    </main>
{% endblock %}
