{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div>
        <h3>Button</h3>
        <twig:Button label="World" />
    </div>

    <div>
        <h3>Click Button</h3>
        <twig:ClickButton/>
    </div>

    <div>
        <h3>LiveButton</h3>
        <twig:LiveButton/>
    </div>
{% endblock %}
