{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <header>

    </header>

    <main>
        <h1>Hello</h1>


        <twig:Button label="World" />

    </main>


{% endblock %}
