{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <header>

    </header>

    <main>
        <h1>Hello</h1>

        {# Hello #}
        <twig:Admin:Button label="Hello" style="background:red;" />

        <twig:Button />

    </main>


{% endblock %}
