<div {{ attributes }}>
    {{ form_start(form) }}

        {{ form_rest(form) }}

        <div class="grid">
            <button
                type="submit"
                data-action="live#action:prevent"
                data-live-action-param="submit"
            >
                Submit
            </button>
        </div>
    {{ form_end(form) }}
</div>