{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <style>
        label.required:after {
            content: '*';
        }
    </style>
{% endblock %}

{% block body %}
    <div data-controller="contact-form">
        <twig:Form:ContactForm />
    </div>
{% endblock %}
