{% set current_path = app.request.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="container">
            <ul>
                <li><strong>UX Workshop</strong></li>
            </ul>
            <ul>
                <li><a href="{{ path('app_index') }}"{% if current_path != 'app_index' %} class="contrast"{% endif %}>Index</a></li>
                <li><a href="{{ path('app_products_index') }}"{% if current_path != 'app_products_index' %} class="contrast"{% endif %}>Products</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block body %}{% endblock %}
    </main>
    </body>
</html>
