{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}

    <h1>Checkout</h1>

    <table data-controller="checkout-cart" data-checkout-cart-checkout-product-outlet=".checkout-product">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Quantity x Price</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <twig:Checkout:ProductRow product="{{ product }}" />
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th scope="row" colspan="2">Discount</th>
            <td colspan="2">
                <input
                    type="text"
                    name="text"
                    placeholder="Coupon"
                    aria-label="Coupon"
                    data-action="focusout->checkout-cart#update"
                    data-checkout-cart-target="coupon"
                    disabled
                >
            </td>
        </tr>
        <tr style="display: none;">
            <th scope="row" colspan="3">Discounted Percentage</th>
            <td>
                <span data-checkout-cart-target="discount"></span>
            </td>
        </tr>
        <tr>
            <th scope="row" colspan="3" valign="top">Total</th>
            <td data-checkout-cart-target="price"></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
